{% set current_sort = app.request.query.get('sort') %}
{% set current_direction = app.request.query.get('direction') %}

{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
  <div class="container">
    <div class="row align-items-md-center">
      <div class="col-12 col-md-6">
        <h1>Users</h1>
      </div>
      <div class="col-12 col-md-6 text-md-right">
        <a class="btn btn-primary" href="{{ path('alicanto_consult_users_add') }}">Create User</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% if users is defined %}
          <div
            class="table-responsive"
          >
            <table
              class="table table-primary"
            >
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email Address</th>
                  <th scope="col">Active</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                {% if users is not empty %}
                  {% for user in users %}
                    {% set userManager = get_user_manager().setUser(user) %}
                    <tr class="">
                      <td scope="row">{{ user.id }}</td>
                      <td>{{ userManager.getDisplayName }}</td>
                      <td>{{ user.getEmailAddress }}</td>
                      <td>{{ userManager.isActive ? 'Enabled' : 'Disabled' }}</td>
                      <td>
                        <a
                          class="btn btn-primary"
                          href="{{ path('alicanto_consult_user_edit', {id: user.id}) }}"
                        >Edit</a>
                        <a
                          class="btn btn-danger"
                          href="{{ path('alicanto_consult_user_delete', {id: user.id}) }}"
                        >Delete</a>
                      </td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr class="">
                    <td scope="row" class="text-center" colspan="6">No Users Found.</td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
